@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2a4b8f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.my-curve {
  position: absolute;
  height: 10rem;
  width: max-content;
  bottom: 0;
}

.my-curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: green;
  transform: translate(85%, 60%);
}

.my-curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: pink;
  transform: translate(-4%, 40%);
  z-index: -1;
}

.custom-shape-divider-top-1695499085 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1695499085 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 42px;
}

.custom-shape-divider-top-1695499085 .shape-fill {
  fill: #f3e8ff;
  fill: #e9d5ff;
}


/* TILT DIVIDER - components/tilt.jsx */
.custom-shape-divider-top-1695500679 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1695500679 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 62px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1695500679 .shape-fill {
  fill: #581C87;
}

/* ABOUT ME SECTION - AboutSection.jsx */
.my-circle-bg {
  background-image: url('./assets/images/circle-scatter-haikei.svg');
  /* background-image: url('./assets/images/blob-haikei.svg'); */
}

/* PROJECTS SECTION - ProjectsSection.jsx */