@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2a4b8f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* WAVE DIVIDER - components/Wave.jsx */
.custom-shape-divider-top-1695499085 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1695499085 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 42px;
}

.custom-shape-divider-top-1695499085 .shape-fill {
  fill: #f3e8ff;
  fill: #e9d5ff;
}


/* TILT DIVIDER - components/Tilt.jsx */
.custom-shape-divider-top-1695500679 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1695500679 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 62px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1695500679 .shape-fill {
  fill: #581C87;
}

/* ABOUT ME SECTION - AboutSection.jsx */
@media only screen and (min-width: 768px) {
  .my-circle-bg {
  background-image: url('./assets/images/circle-scatter-haikei.svg');
}
}


/* PROJECTS SECTION - ProjectsSection.jsx */